<!-- templates/home.html -->
{% extends "includes/base.html" %}
{% load static %}

{% block pageStyle %}{% static 'css/home.css' %}{% endblock %}
{% block title %}Home - Wealth Web{% endblock %}

{% block content %}
    <div class="container">
        <section class="hero-section">
            <div id="hero-header">
                <h1>Cultivate Your Wealth:</h1>
                <h1>Expert Investment Portfolio Management</h1>
                <div>
                    <a class="grn-button" href="/about">Learn more about us</a>
                    <a class="grn-button" href="/convert">Try it</a>
                </div>
            </div>
            <img src="{% static 'images/hero-image.png' %}" alt="Hero image">
        </section>
    </div>
{% endblock %}
