{% extends 'includes/base_portfolio.html' %}
{% load static %}

{% block portfolio-content %}
<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h1>Hello, {{ user.username }}!</h1>
    <h2>This is your investment portfolio</h2>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for investment in investments %}
            <tr>
                <td>{{ investment.symbol }}</td>
                <td>{{ investment.quantity }}</td>
                <td>{{ investment.currency_symbol }}{{ investment.total_value|floatformat:2 }}</td>
                <!-- <td>${{ investment.return_value|floatformat:2 }}</td> -->
                <td>
                    <form action="{% url 'portfolio-delete-investment' investment.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="Remove" onclick="return confirm('Are you sure?');">
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No investments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<div>
    <h3>Add a New Investment</h3>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Trade">
        <input type="submit" name="_addanother" value="Save & Add Another">
    </form>
</div>

</div>
{% endblock %}