{% extends 'includes/base_portfolio.html' %}
{% load static %}

{% block portfolio-content %}
<div class="portfolio-container">
    <h1>Hello, {{ user.username }}!</h1>
    <h2>Here are your investments:</h2>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Current price</th>
                <th>Return value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for investment in investments %}
            <tr>
                <td>{{ investment.symbol }}</td>
                <td>{{ investment.quantity }}</td>
                <td>{{ investment.currency_symbol }}{{ investment.current_price|floatformat:2 }}</td>
                <td>${{ investment.return_value|floatformat:2 }}</td>
                <td>
                    <form action="{% url 'portfolio-delete-investment' investment.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input class="remove-button" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No investments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<button id="openModal">Add New Investment</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="close-div">
            <span class="close">&times;</span>
        </div>
        <div class="modal-form">
            <h3>Add a New Investment</h3>
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <div style="width: 80%;">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <datalist id="symbols">
                    <!-- this will be populated using js script -->
                </datalist>
                <div class="submit-div">
                    <input type="submit" value="Save Trade">
                </div>
            </form>
        </div>
    </div>
</div>

</div>
{% endblock %}